<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>404</title>
    <style>
      html {
	    background-image: url(https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg);
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	  }
	  .number {
	    margin-top: 0px;
	    padding-top: 0px;
	    margin-bottom: 0px;
	    padding-bottom: 0px;
	    border-bottom: 0px;
	    font-size: 120px;
	    text-align: center;
	    font-family: Phosphate;
	  }
	  hr {
	    height: 3px;
	    color: grey;
	    background-color: grey;
	  }
	  .not_found {
	    margin-top: 0px;
	    padding-top: 0px;
	    font-size: 82px;
	    text-align: center;
	    font-family: Phosphate;
	  }
    </style>
  </head>

  <body>
    <h1 class="number">404</h1><hr>
    <h2 class="not_found">Сторінку не знайдено!</h2>
  </body>

</html>