<!DOCTYPE html>

<html>
  <head>
    <style>
      html {
  	    background-color: black
	  }
	  
	  h1 {
	    text-align: center;
	    color: white;
	    font-family: Phosphate;
	  }
	  
	  .button {
  	  	text-decoration: none;
      	display: inline-block;
      	padding: 15px 30px;
      	margin: 10px 20px;
      	border-radius: 10px;
      	box-shadow: 0 0 40px 40px #32dae3 inset, 0 0 0 0 #32dae3;
      	font-family: Phosphate;
      	font-weight: bold;
      	letter-spacing: 2px;
      	color: white;
      	transition: .15s ease-in-out;
      	font-size: 30px;
      } 
	  .button:hover {
	  	background-color: white;
      	box-shadow: 0 0 10px 0 #32dae3 inset, 0 0 10px 4px #32dae3;
      	color: #32dae3;
      }
	</style>
	<meta charset="UTF-8">
	<title>Dead</title>
  </head>
  
  <body>
    <h1>Ви були хорошими друзями, проте неналежний догляд зробив своє діло... Сподіваюсь, що в наступний раз ти поставишся до питання серйозніше :(<h1>
    <form action="/" method="get">
      <input class="button" type='submit' value='Заново'>
    </form>
  </body>
</html>