<!DOCTYPE html>

<html>
  <head>
    <style>
      html {
  	    background-image: url(https://images2.alphacoders.com/749/749574.jpg);
	    background-repeat: no-repeat;
	    background-position: center center;
	    background-attachment: fixed;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	  }
	  
	  h1 {
	    text-align: center;
	    color: #f58c84;
	    font-family: Phosphate;
	  }
	</style>
	<meta charset="UTF-8">
	<title>Eaten</title>
  </head>
  
  <body>
    <h1>Звідки ж тобі було знати, що самогон так подіє на твого улюбленця? Він збільшився і зʼїв тебе :(<h1>
    <h1>Якщо чесно, то це настільки тупа кінцівка, що навіть не знаю, що сказати XD<h1>
  </body>
</html>