<!DOCTYPE html>

<html>
  <head>
    <style>
      html {
  	  	background-image: url(https://vikna.if.ua/assets/gallery/2022/05/18/133574/1652866128_a89a4650f3142fffa582.png);
	  	background-repeat: no-repeat;
	  	background-position: center center;
	  	background-attachment: fixed;
	  	-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
	  }
	  
	  .button {
  	  	text-decoration: none;
      	display: inline-block;
      	padding: 15px 30px;
      	margin: 10px 20px;
      	border-radius: 10px;
      	box-shadow: 0 0 40px 40px #32dae3 inset, 0 0 0 0 #32dae3;
      	font-family: Phosphate;
      	font-weight: bold;
      	letter-spacing: 2px;
      	color: white;
      	transition: .15s ease-in-out;
      	font-size: 30px;
      } 
	  .button:hover {
	  	background-color: white;
      	box-shadow: 0 0 10px 0 #32dae3 inset, 0 0 10px 4px #32dae3;
      	color: #32dae3;
      }
      
      h1, form {
        text-align: center;
      }
      
      h1 {
        font-family: Phosphate;
        font-size: 36px;
        color: red;
      }
    </style>
    <meta charset="UTF-8">
	<title>Treet</title>
  </head>
  
  <body>
    <h1><%= treet_message %></h1>
    <form action="/change_cookies" method="get">
      <input class="button" type='submit' value='ОК'>
    </form>
  </body>
</html>