<!DOCTYPE html>

<html>
  <head>
    <style>
      html {
  	    background-image: url(https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg);
	    background-repeat: no-repeat;
	    background-position: center center;
	    background-attachment: fixed;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	  }
	  
	  .button {
  	  	text-decoration: none;
      	display: inline-block;
      	padding: 15px 30px;
      	margin: 10px 20px;
      	border-radius: 10px;
      	box-shadow: 0 0 40px 40px #32dae3 inset, 0 0 0 0 #32dae3;
      	font-family: Phosphate;
      	font-weight: bold;
      	letter-spacing: 2px;
      	color: white;
      	transition: .15s ease-in-out;
      	font-size: 30px;
      } 
	  .button:hover {
	  	background-color: white;
      	box-shadow: 0 0 10px 0 #32dae3 inset, 0 0 10px 4px #32dae3;
      	color: #32dae3;
      }
	  
	  h1 {
	    text-align: center;
	    margin-top: 0px;
	    padding-top: 0px;
	    margin-bottom: 0px;
	    padding-bottom: 0px;
	    font-family: Phosphate;
	    font-size: 36px;
	  }
	  
	  p {
	    text-align: center;
	    font-family: Phosphate;
	    font-size: 24px;
	  }
	  
	  form {
	    text-align: center;
	  }
    </style>
    <title>Statistics_Gen</title>
    <meta charset="UTF-8">
  </head>

  <body>
    <h1>Правила гри:</h1>
    <p>В тебе є улюбленець. Ціль гри - не дати йому загинути, чи трапити в халепу.</p>
    <p>В улюбленця є 4 шкали - здоровʼя, настрій, бадьорість, ситість.</p>
    <p>Рівень здоровʼя є індикатором життя улюбленця. Якщо він буде на нулі - улюбленець загине.</p>
    <p>Шкалу настрою можна поповнювати граючись з улюбленцем, виводячи його на прогулянки, пестячи його або даючи йому ласощі</p>
    <p>Рівень настрою зменшується щогодини на 5 пунктів. Якщо він впаде нижче 10 - улюбленець почне втрачати 2 пункти здоровʼя в годину.</p>
    <p>Шкала бадьорості поповнюється сном. Вона зменшується щогодини на 8 пунктів, а під час гри чи прогулянки - на 12.</p>
    <p>Якщо шкала бадьорості падає нижче 20 - улюбленець не може гратися, а якщо нижче 10 - починає втрачати 8 пунктів здоровʼя на годину.</p>
    <p>Шкалу ситості можна поповнювати їжею. Вона щогодини зменшується на 8 пунктів.</p>
    <p>Якщо шкала ситості падає нижче 25 - улюбленець починає втрачати 2 пункти здоровʼя на годину, а якщо нижче 10 - 8 пунктів.</p>
    <p>Якщо всі 3 показники улюбленця більші за 70 - шкала здоровʼя починає рости на 3 пункти в годину.</p>
    <p>Якщо рівень здоровʼя улюбленця нижче за 30 - раз на 24 години ти можеш дати йому ліки, які відновлять 10 пунктів здоровʼя.</p>
    <p>Час в грі змінюється в залежності від дії - кожна активність забирає певний проміжок часу.</p>
    <h1>Бажаю удачі!</h1>
    <form action="/play_game" method="get">
      <input class="button" type='submit' value='ОК!'>
    </form>
  </body>
</html>