<!DOCTYPE html>

<html>
  <head>
    <style>
      html {
  	    background-image: url(https://look.com.ua/pic/201511/1920x1080/look.com.ua-138761.jpg);
	    background-repeat: no-repeat;
	    background-position: center center;
	    background-attachment: fixed;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	  }
	  
	  h1 {
	    text-align: center;
	    color: red;
	    font-family: Phosphate;
	  }
	  
	  .button {
  	  	text-decoration: none;
      	display: inline-block;
      	padding: 15px 30px;
      	margin: 10px 20px;
      	border-radius: 10px;
      	box-shadow: 0 0 40px 40px #32dae3 inset, 0 0 0 0 #32dae3;
      	font-family: Phosphate;
      	font-weight: bold;
      	letter-spacing: 2px;
      	color: white;
      	transition: .15s ease-in-out;
      	font-size: 30px;
      } 
	  .button:hover {
	  	background-color: white;
      	box-shadow: 0 0 10px 0 #32dae3 inset, 0 0 10px 4px #32dae3;
      	color: #32dae3;
      }
	</style>
	<meta charset="UTF-8">
	<title>Road</title>
  </head>
  
  <body>
    <h1>Що ж... Мабуть так було написано долею. Так буває, так трапляється, ну а потім забувається. Сподіваюсь наступне проходження буде позитивнишим.<h1>
    <form action="/" method="get">
      <input class="button" type='submit' value='Заново'>
    </form>
  </body>
</html>