<!DOCTYPE html>

<html>
  <head>
    <style>
      html {
  	  	background-image: url(https://blog.optimeal.eu/uploads/media/ckeditor/0001/01/475388adc5b11a4fce68982376e7bcde6cb17f57.jpeg);
	  	background-repeat: no-repeat;
	  	background-position: center center;
	  	background-attachment: fixed;
	  	-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
	  }
	  
	  .button {
  	  	text-decoration: none;
      	display: inline-block;
      	padding: 15px 30px;
      	margin: 10px 20px;
      	border-radius: 10px;
      	box-shadow: 0 0 40px 40px #32dae3 inset, 0 0 0 0 #32dae3;
      	font-family: Phosphate;
      	font-weight: bold;
      	letter-spacing: 2px;
      	color: white;
      	transition: .15s ease-in-out;
      	font-size: 30px;
      } 
	  .button:hover {
	  	background-color: white;
      	box-shadow: 0 0 10px 0 #32dae3 inset, 0 0 10px 4px #32dae3;
      	color: #32dae3;
      }
      
      h1, form {
        text-align: center;
      }
      
      h1 {
        font-family: Phosphate;
        font-size: 36px;
        color: black;
      }
    </style>
    <meta charset="UTF-8">
	<title>Walk</title>
  </head>
  
  <body>
    <h1><%= walk_message %></h1>
    <%= make_walk_button %>
  </body>
</html>