td {
    padding: 10px;
}

.order-table-borders {
    border-color: black;
    border-width: 1px;
    text-align: center;
}

.order-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px
}

.main-td {
    font-weight: bold;
}

.product-photo {
    width: auto;
    height: 100px;
}

.check-out {
    padding: 20px;
}

.login-alert {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.check-out-button {
    margin-right: auto;
    margin-left: auto;
}