.info-card {
    margin: 20px;
    width: 400px;
    padding: 10px;
}

h3 {
    margin-bottom: 20px;
}

.info-input {
    width: 150px;
}

.firstname {
    margin-left: 36px;
}

.lastname {
    margin-left: 38px;
}

.alert {
    margin-top: 20px;
}

.phone {
    margin-left: 2.5px;
}

.city {
    margin-left: 141px;
}

.street {
    margin-left: 126px;
}

.house {
    margin-left: 125px;
}

.submit {
    margin-left: 160px;
    margin-bottom: 20px;
}

.apartments {
    margin-left: 5px;
}