.main-div {
    margin: 20px;
    text-align: center;
}

.payment {
    margin-bottom: 20px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.product-img {
    padding-right: 20px;
}

img {
    width: auto;
    height: 200px;
}

.total {
    margin-top: 20px;
}

.error {
    text-align: center;
    margin-top: 20px;
}

h3 {
    margin-bottom: 20px;
}

.alert {
    padding: 0px 7px;
}