.main-div {
    margin: 20px;
}

h3 {
    text-align: center;
}

.div-buttons {
    margin-top: 30px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.active-buttons {
    padding: 15px;
}