<%= turbo_stream_from 'products' %>
<div class="products-index-main-div">

  <div class="flex-shrink-0 p-3 bg-black sidebar products-index-sidebar">
    <div class="collapse show" id="home-collapse">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
        <li>
          <%= link_to 'All', root_path,
                        class: 'd-inline-flex text-decoration-none rounded sidebar-filter button-category' %>
        </li>
        <% Category.order(:title).each do |cat| %>
          <li>
            <%= link_to "#{cat.title}", root_path(category: cat.title),
                          class: 'd-inline-flex text-decoration-none rounded sidebar-filter button-category' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div id="products">
    <h1 class="products-index-h1">Products</h1>
    <div class="row row-cols-1 row-cols-md-2 g-4 card-options">
      <% @products.each do |product| %>
        <%= render partial: 'products/products', locals: { product: product } %>
      <% end %>
    </div>
  </div>

</div>
