<h4>Hello dear <%= @user.name %>!</h4>
<p>This month we decided to hold a raffle among our customers and you are the lucky winner.</p>
<p>In this regard, we offer you a 50% discount on any product on our <%= link_to 'website', products_url %>!</p>
<p><br>Have a good day!</p>