<%= turbo_stream.update "cart#{@product.id}" do %>
  <p style="color: green;">Added to cart!</p>
<% end %>

<%= turbo_stream.update "quantity_frame" do %>
  <%= link_to "Cart(#{ find_total_products(cart_check.id) })", carts_path, class: 'nav-link active',
              'aria-current': 'page' %>
<% end %>