<% if resource.errors.any? %>
  <div id="error_explanation" class="alert alert-danger" style="margin-top: 20px; margin-left: 40px; margin-right: 40px">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    <table>
      <tbody>
        <ul>
          <% resource.errors.full_messages.each do |message| %>
            <tr>
              <td><li><%= message %></li></td>
            </tr>
          <% end %>
        </ul>
      </tbody>
    </table>
  </div>
<% end %>
